:host {
    --color-bg-default: #fff;
    --color-fg-primary: #2c64e3;
    --color-fg-default: #fff;
    --color-fg-accent: #2c64e3;
    --color-bg-inrange: #2c63e37c;
    --background-color: #fff;
    --day-width: 35px;
    --day-height: 30px;
  }
  /* increase start and end */
  .container.range-plugin .calendar>.days-grid>.day.start,
  .container.range-plugin .calendar>.days-grid>.day.end {
    font-weight: bold;
    transform: scale(1.2);
    z-index: 1;
  }